@model IEnumerable<BeautyCenterCore.Models.Facturas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Filtrar</span>
            <select class="form-control selected" id="tbFiltro">
                <option value="0" disabled selected> </option>
                <option value="1" selected>Id</option>
                <option value="2" selected>Todo</option>
            </select>
            <span class="input-group-addon">FacturaId:</span>
            <input class="form-control input-group-lg col-2" type="text" id="tbId" placeholder="Id" />
            <button type="button" class="btn btn-success col-sm-2" id="btnBuscar" onclick="Buscar()">Buscar</button>
        </div>
    </div>
</p>
<table class="table" id="tabla" data-content="">
    <thead>
        <tr>
            <th>
                ClienteId
            </th>
            <th>
                Clientes
            </th>
            <th>
                Fecha
            </th>
            <th>
                Total
            </th>
            <th>
                Empleado
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="tbBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleados)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FacturaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FacturaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type="text/javascript" src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/moment-with-locales.min.js"></script>
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script type="text/javascript">
            $('#tbFiltro').val($('#ServicioList > option:first').val());
            $("#tbId").attr('disabled', 'disabled');

            $("#tbFiltro").change(function () {
                if ($("#tbFiltro").val() == 1) {
                    $("#tbId").removeAttr("disabled"); 
                }
                else {
                    $('#tbId').val("");
                    $("#tbId").attr('disabled', 'disabled');
                }
            });
            function Buscar() {
                $('#tbBody tr').remove();
                var filtro = $('#tbFiltro').find('option:selected').attr('value');
                var Id = $('#tbId').val();
                if (filtro == 1) {
                    $.getJSON("/CargaFacturas/Buscar",
                        { FacturaId: Id }, function (lista) {
                            var fila = "<tr>";
                            fila += "<td>" + lista.clienteId + "</td>";
                            fila += "<td>" + lista.clientes + "</td>";
                            fila += "<td>" + lista.fecha + "</td>";
                            fila += "<td>" + lista.total + "</td>";
                            fila += "<td>" + lista.empleados + "</td>";
                            fila += "</tr>";
                            $('#tabla tbody').append(fila);
                        });
                } else {
                    $.getJSON("/CargaFacturas/BuscarF",
                        { FacturaId: 0 }, function (lista) {
                            $.each(lista, function (index, lista) {
                                var fila = "<tr>";
                                fila += "<td>" + lista.clienteId + "</td>";
                                fila += "<td>" + lista.clientes + "</td>";
                                fila += "<td>" + lista.fecha + "</td>";
                                fila += "<td>" + lista.total + "</td>";
                                fila += "<td>" + lista.empleados + "</td>";
                                fila += "</tr>";
                                $('#tabla tbody').append(fila);
                            });
                        });
                }


            }
        </script>
    }
}
